---
import vacacionesImg from '../assets/VACACIONES UTILES 2024 ORIANA.png';

---

<div class="bg-gray-100">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
        <h2 class="text-6xl text-center font-bold text-gray-900">Flyers</h2>
  
        <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:gap-y-12 min-h-screen">

          <div class="group relative">
            <img src="/Flayer1.png" alt="Vacaciones Útiles 2024 Oriana" class="w-full rounded-lg bg-white object-cover">
            <h3 class="mt-6 text-sm text-gray-500">
              <a href="#">
                <span class="absolute inset-0"></span>
                Desk and Office
              </a>
            </h3>
            <p class="text-base font-semibold text-gray-900">Work from home accessories</p>
          </div>
          <div class="group relative">
            <img src="/Flayer2.png" alt="Wood table with porcelain mug, leather journal, brass pen, leather key ring, and a houseplant." class="w-full rounded-lg bg-white object-cover group-hover:opacity-75 max-sm:h-80 sm:aspect-2/1 lg:aspect-square">
            <h3 class="mt-6 text-sm text-gray-500">
              <a href="#">
                <span class="absolute inset-0"></span>
                Self-Improvement
              </a>
            </h3>
            <p class="text-base font-semibold text-gray-900">Journals and note-taking</p>
          </div>
          <div class="group relative">
            <img src="Flayer3.png" alt="Collection of four insulated travel bottles on wooden shelf." class="w-full rounded-lg bg-white object-cover group-hover:opacity-75 max-sm:h-80 sm:aspect-2/1 lg:aspect-square">
            <h3 class="mt-6 text-sm text-gray-500">
              <a href="#">
                <span class="absolute inset-0"></span>
                Travel
              </a>
            </h3>
            <p class="text-base font-semibold text-gray-900">Daily commute essentials</p>
          </div>
          <div class="group relative">
            <img src="Flayer4.png" alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." class="w-full rounded-lg bg-white object-cover group-hover:opacity-75 max-sm:h-80 sm:aspect-2/1 lg:aspect-square">
            <h3 class="mt-6 text-sm text-gray-500">
              <a href="#">
                <span class="absolute inset-0"></span>
                INGLESIA X
              </a>
            </h3>
            <p class="text-base font-semibold text-gray-900">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam recusandae non dolore expedita rerum, nam quod tempore odit officia ipsam ducimus reiciendis exercitationem praesentium sed, numquam aspernatur iusto hic quos!</p>
          </div>
          <div class="group relative">
            <img src="Flayer5.png" alt="Wood table with porcelain mug, leather journal, brass pen, leather key ring, and a houseplant." class="w-full rounded-lg bg-white object-cover group-hover:opacity-75 max-sm:h-80 sm:aspect-2/1 lg:aspect-square">
            <h3 class="mt-6 text-sm text-gray-500">
              <a href="#">
                <span class="absolute inset-0"></span>
                Self-Improvement
              </a>
            </h3>
            <p class="text-base font-semibold text-gray-900">Journals and note-taking</p>
          </div>
          <div class="group relative">
            <img src="Flayer6.png" alt="Collection of four insulated travel bottles on wooden shelf." class="w-full rounded-lg bg-white object-cover group-hover:opacity-75 max-sm:h-80 sm:aspect-2/1 lg:aspect-square">
            <h3 class="mt-6 text-sm text-gray-500">
              <a href="#">
                <span class="absolute inset-0"></span>
                Travel
              </a>
            </h3>
            <p class="text-base font-semibold text-gray-900">Daily commute essentials</p>
          </div>
          <div class="group relative">
            <img src="Flayer7.png" alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." class="w-full rounded-lg bg-white object-cover group-hover:opacity-75 max-sm:h-80 sm:aspect-2/1 lg:aspect-square">
            <h3 class="mt-6 text-sm text-gray-500">
              <a href="#">
                <span class="absolute inset-0"></span>
                Desk and Office
              </a>
            </h3>
            <p class="text-base font-semibold text-gray-900">Work from home accessories</p>
          </div>
          <div class="group relative">
            <img src="Flayer8.png" alt="Wood table with porcelain mug, leather journal, brass pen, leather key ring, and a houseplant." class="w-full rounded-lg bg-white object-cover group-hover:opacity-75 max-sm:h-80 sm:aspect-2/1 lg:aspect-square">
            <h3 class="mt-6 text-sm text-gray-500">
              <a href="#">
                <span class="absolute inset-0"></span>
                Self-Improvement
              </a>
            </h3>
            <p class="text-base font-semibold text-gray-900">Journals and note-taking</p>
          </div>
          <div class="group relative">
            <img src="Flayer9.png" alt="Collection of four insulated travel bottles on wooden shelf." class="w-full rounded-lg bg-white object-cover group-hover:opacity-75 max-sm:h-80 sm:aspect-2/1 lg:aspect-square">
            <h3 class="mt-6 text-sm text-gray-500">
              <a href="#">
                <span class="absolute inset-0 "></span>
                Travel
              </a>
            </h3>
            <p class="text-base font-semibold text-gray-900">Daily commute essentials</p>
          </div>
        </div>
      </div>
    </div>
  </div>